/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 :root {
	/*
	 --color-primary: #0f172a;
	 --color-secondary: #084E75;
	*/
	 --color-primary: #084E75;
	 --color-secondary: #2A9DDB; 
	 
   }

   @font-face {
	font-family: Roboto;
	src: url('../Roboto/Roboto-Medium.ttf');
  }

  @font-face {
	font-family: RobotoLight;
	src: url('../Roboto/Roboto-Light.ttf');
  }
  
 
body {
	font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-family: robotoLight;
	color: #222;
}

a {
	color: var(--color-primary);
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.ital{
	font-style: italic;
	font-weight: bold;
	color: #FF6347;
}

.description{
	font-size: small;
	color: #333;
}
article{
	filter: drop-shadow(0 0 0.75rem rgb(235, 231, 232));
}
.title{ color:var(--color-primary);
	font-family: Helvetica, 'Arial Bold', Impact, sans-serif;
	font-weight: bold;
	letter-spacing: .32ch;
	text-align: center;
	font-size: 50px;

}
h2{ color:var(--color-secondary);
	letter-spacing: .32ch;
}



ul {
	list-style-type: none;
	padding: unset;
}
ul li {
	display: flex;
	font-weight: bold;
}
ul li time {
	font-style: italic;
	color: #222;
	font-size: small;
}

.blog-links_list .blog_link{
	transition: transform 100ms ease-in-out;
	display: flex;

}

.blog-links_list .blog_link a{
	justify-content: center;
	display:flex;
	width: 100%;
	text-decoration: none;
	color:#222;

}

.blog-links_list .blog_link:hover{
	transform: scale(1.015);
}

.blog-links_list li{
	min-height: 6em;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin-bottom: 1rem;
	border:2px solid #5ca9f2;
	background-color:var(--color-secondary);
		border-radius: 18px;
}

.blog-links_list li p{
	color:#222;
}


.blog-links_list li a:visited {
	color: #222;
	font-weight: bold;
}

.blog-links_list li a:hover{
	transform: scale (1.025);
}

form input {
  width: 100%;
}

form input[type=text] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

.hidden{
	display: none;
}

.btn{
	width: 100%;
	padding:1rem;
	cursor: pointer;
}

.message{
	font-family: roboto;
	font-size:1.3rem;
}


.btn a:hover{
background-color: #FF6347;
}