---
import BaseHead from "../components/BaseHead.astro";
const {title} = Astro.props;
---

<html lang="en">
	<head>
        <BaseHead title = {title} />
        <style>
			

        </style>
	</head>
	<body class='baseLayout'>
		<slot />
	</body>
</html>
